<h1>{{title}}</h1>


<div id="card">
  {{#if courses.length}}
    <table>
      <thead>
      <tr>
        <th>Название</th>
        <th>Количество</th>
        <th>Цена</th>
        <th>Действие</th>
        <th></th>
      </tr>
      </thead>
      <tbody>
      {{#each courses}}
        <tr>
          <td>{{title}}</td>
          <td>{{count}}</td>
          <td><p class="price">{{price}}</p></td>
          <td>
            <button class="btn btn-small js-remove" data-id="{{id}}">Удалить</button>
          </td>
          <td></td>
        </tr>
      {{/each}}
      <tr>
        <td>Всего</td>
        <td></td>
        <td></td>
        <td></td>
        <td><p class="price">{{price}}</p></td>
      </tr>
      </tbody>
    </table>

  {{else}}
    <p>Корзина пуста</p>
  {{/if}}
</div>

